HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### 特定包忽略 ###
/src/main/java/com.sennan/common/util/WebOcrUtil
/src/main/java/com/sennan/common/properties/XunFeiProperties
/src/main/resources/application.yml
/src/main/java/com/sennan/common/util/Ossutil
/src/main/java/com/sennan/common/properties/OssProperties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
